
a {
	cursor: pointer;
}
a:hover {
	text-decoration: none;
}
::selection {
	color: #003;
	background-color:#fff;
}
::-moz-selection {
	color: #003;
	background-color: #fff;
}

/* #Cursor
================================================== */

.cursor,
.cursor2,
.cursor3{
	position:fixed;
	border-radius: 50%;	
	transform: translateX(-50%) translateY(-50%);
	pointer-events: none;
	left: -100px;



}
.cursor{
	background-color: #fff;
	height: 0;
	width: 0;
	z-index: 99999;
    mix-blend-mode: difference;
}
.cursor2,.cursor3{
	height: 36px;
	width: 36px;
	z-index:99998;
	-webkit-transition:all 0.3s ease-out;
	transition:all 0.3s ease-out;
    mix-blend-mode: difference;
}
.cursor2.hover,
.cursor3.hover{
	
	border:none;
    mix-blend-mode: difference;
}
.cursor2{
	border: 2px solid #fff;
    mix-blend-mode: difference;
}
.cursor2.hover{
	background: rgba(255,255,255,1);
	border-color: transparent;
    mix-blend-mode: difference;
}

@media screen and (max-width: 1200px){
	.cursor,.cursor2,.cursor3{
		display: none;
	}
}

